<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <!-- <img class="h-8 w-auto"
                        src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                        alt="Your Company"> -->
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/dashboard" class="rounded-md bg-blue-100 px-3 py-2 text-sm font-medium text-gray-700"
              aria-current="page">Dashboard</a>
            <!-- <a href="#"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                        <a href="#"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                        <a href="#"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a> -->
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">


        <!-- Profile dropdown -->
        <div class="relative ml-3 ">
          <div>
            <button type="button"
              class="relative flex rounded-full bg-gray-800  text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
              id="user-menu-button" [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="size-8 rounded-full"
                src="https://media.istockphoto.com/id/1682296067/photo/happy-studio-portrait-or-professional-man-real-estate-agent-or-asian-businessman-smile-for.jpg?s=612x612&w=0&k=20&c=9zbG2-9fl741fbTWw5fNgcEEe4ll-JegrGlQQ6m54rg="
                alt="">
            </button>
          </div>

          <!--
                      Dropdown menu, show/hide based on menu state.
          
                      Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                      Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
          <mat-menu #menu="matMenu">
            <a href="/profile"
              class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-gray-200" role="menuitem"
              tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <!-- <a href="#"
                            class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-gray-200"
                            role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a> -->
            <button (click)="logout()" class="w-full  py-2 text-sm  text-gray-700 hover:bg-gray-700 hover:text-gray-200"
              role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</button>
          </mat-menu>


        </div>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
        aria-current="page">Dashboard</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    </div>
  </div>
</nav>
<div *ngIf="componentname=='tabledata'">
  <div class="m-auto mt-10 w-3/4   text-gray-700 bg-white shadow-md  rounded-xl bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
      <thead class="p-4  bg-gray-800 text-blue-100">
        <tr>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              #
            </p>
          </th>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              User Name
            </p>
          </th>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              Email
            </p>
          </th>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              Contact
            </p>
          </th>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              city
            </p>
          </th>
          <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
              Action
            </p>
          </th>

        </tr>
      </thead>
      <tbody>
        @for (item of test; track $index) {
        <tr>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
              {{$index+1}}
            </p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
              {{item.profile.username}}
            </p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
              {{item.email}}
            </p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
              {{item.profile.contact}}
            </p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
              {{item.profile.city}}
            </p>
          </td>
          <td class=" border-b border-blue-gray-50 flex bg-gray-800 text-blue-100">
            <button type="button"
              class="block p-4 m-auto border-gray-500   hover:bg-blue-100 hover:text-gray-700 font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900"
              (click)="changecomponent('updateprofile',$index)">
              Edit
            </button>
            <button type="button"
              class="block px-2 p-4 m-auto hover:bg-red-100  hover:text-gray-700 font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900"
              (click)="deleteitem($index)">
              Delete
            </button>
          </td>
        </tr>
        }



      </tbody>
    </table>
  </div>
</div>
<!-- Edit -->
<div class="" *ngIf="componentname=='updateprofile'">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gradient-to-r to-gray-700 min-h-screen flex items-center justify-center p-4">
    <div class="font-std mb-10 w-1/2 rounded-2xl bg-white p-10 font-normal leading-relaxed text-gray-700 shadow-xl">

      <div class="flex flex-col">
        <div class="flex flex-col md:flex-row justify-between mb-5 items-start">
          <h2 class="mb-5 text-4xl font-bold text-gray-700">Update Profile</h2>
          <div class="text-center">
            <div>
              <img src='{{image}}' alt="Profile Picture"
                class="rounded-full w-32 h-32 mx-auto border-4 border-gray-800 mb-4 transition-transform duration-300 hover:scale-105 ring ring-gray-300">
              <input type="file" name="profile" id="upload_profile" hidden required name="image" [(ngModel)]="image">

              <label for="upload_profile" class="inline-flex items-center">
                <svg data-slot="icon" class="w-5 h-5 text-gray-700" fill="none" stroke-width="1.5" stroke="currentColor"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z">
                  </path>
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z">
                  </path>
                </svg>
              </label>
            </div>
            <!-- <button type="file" class="bg-gray-700 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition-colors duration-300 ring ring-gray-300 hover:ring-indigo-300">
                          Change Profile Picture
                      </button> -->
          </div>
        </div>

        <!-- Bilgi Düzenleme Formu -->
        <form class="space-y-4">
          <!-- İsim ve Unvan -->
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input type="text" id="name"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500"
              name="username" [(ngModel)]="username">
          </div>




          <!-- İletişim Bilgileri -->
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500"
              name="email" [(ngModel)]="email">
          </div>
          <div>
            <label for="phone" class="block text-sm font-medium text-gray-700">Contact</label>
            <input type="tel" id="phone"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500"
              name="contact" [(ngModel)]="contact">
          </div>
          <div>
            <label for="location" class="block text-sm font-medium text-gray-700">City</label>
            <input type="text" id="location"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500"
              name="city" [(ngModel)]="city">
          </div>
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="text" id="password"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500"
              name="password" [(ngModel)]="password">
          </div>

          <!-- Kaydet ve İptal Butonları -->
          <div class="flex justify-end space-x-4">
            <button type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400"
              (click)="changecomponent('updateprofile',0)">Cancel</button>
            <button type="submit" class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-700"
              (click)="savechanges()">Save Changes</button>
          </div>
        </form>
      </div>

    </div>
  </body>

  </html>

</div>
<router-outlet></router-outlet>